/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  /* background-image: url(/Cricket-bat-ball.webp);
  background-size: 100% max(100%,100vh);
  background-repeat: no-repeat; */
  background-color: #e3e2c4 !important;
}


.mycard{
  width: 600px;
  margin: auto;
  /* margin-top: 150px; */
}

.nav1{
  display: flex;
  justify-content: space-between;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50000;

  height: 56px;
  background-color: black;
  background-color: #b7b58f;
  color: #333;

  padding: 10px;
}

.nav1 h5{
  padding: 5px;
}

